body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.marker{
    background-color: yellow;
}

.blog-item a:hover, .blog-item a {
    /*text-decoration: none;*/
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.blog-item {
    position: relative;
    padding-right:  30px;
    padding-left: 30px;
}

.blog-item:hover{
    background-color: #F8F8F8;
}

.blog-item:hover .edit-buttons {
    visibility: visible;
    z-index: 100;
}

.edit-buttons {
    visibility: hidden;
    position: absolute;
    bottom: 10px;
    top: 10px;
}

.title-picture {
    display: block;
    margin: 0 auto;
}

/*.image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-container > .title-picture {
    max-width:100%;
    max-height:100%;
}*/

.image-container {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.image-container > .title-picture {
    min-height: 100%;
    max-width: 100%;
}