body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.marker{
    background-color: yellow;
}

.blog-item a:hover, .blog-item a {
    /*text-decoration: none;*/
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.blog-item:hover{
    background-color: #F8F8F8;
}