if currentPage <= 1
    - var disablePrevious = 'disabled'
    - var disableNext = ''
    - var nextPage = parseInt(currentPage) + 1
    - var previousPage = ''
else if currentPage >= (maxPage)
    - var disablePrevious = ''
    - var disableNext = 'disabled'
    - var nextPage = ''
    - var previousPage = parseInt(currentPage) - 1
else
    - var nextPage = parseInt(currentPage) + 1
    - var previousPage = parseInt(currentPage) - 1

nav
    ul.pager
        li(class='#{disablePrevious}')
            if previousPage
                a(href='/posts/#{previousPage}')
                    span(aria-hidden='true') &larr; &nbsp;
                    | Previous
            else
                a
                    span(aria-hidden='true') &larr; &nbsp;
                    | Previous
        li(class='#{disableNext}')
            if nextPage
                a(href='/posts/' + nextPage)
                    | Next &nbsp;
                    span(aria-hidden='true') &rarr;
            else
                a
                    | Next &nbsp;
                    span(aria-hidden='true') &rarr;