extends ../base

block vars
    - var title = 'Calendar'
    - var calendar = 'active'

block content
    h1 Welcome to the calendar page
    a(href='https://github.com/Serhioromano/bootstrap-calendar') Bootstrap calendar to implement
