extends ../base

block vars
    - var title = 'Login'

block content

    link(rel='stylesheet', href='/stylesheets/authentication.css')

    form.form-signin
        label.sr-only(for='email') Email address
        input.form-control(type='email', id='email', placeholder='Email address', required, autofocus)
        label.sr-only(for='password') Password
        input.form-control(type='password', id="password", placeholder="Password", required)
        button.btn.btn-lg.btn-primary.btn-block(type='Submit') Login


        #authentication-error.bg-danger.text-warning
            if message.length > 0
                h4 #{message}
