extends ../base

block vars
    - var title = 'Pictures'
    - var pictures = 'active'

block content
    h1 Welcome to the pictures page
    a(href='https://www.codeofaninja.com/2011/06/display-facebook-photos-to-your-website.html') Example of gallery from facebook, but written in php.
    br
    a(href='https://embedsocial.com/embed-gallery.php') Excelent example of fb gallery
        b PAID
    br
    a(href='https://github.com/dejanstojanovic/Facebook-Album-Browser') Nice implementation of facebook gallery. Seems ok.

    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery.fb.albumbrowser.css')
    script(type='text/javascript' src='/javascripts/facebook-album-browser/jquery.fb.albumbrowser.js')
    script(type='text/javascript' src='/javascripts/pictures-init.js')

    .fb-album-container