extends ../base

block vars
    - var title = 'Pictures'
    - var pictures = 'active'

block content
    h1 Welcome to the pictures page
    a(href='https://www.codeofaninja.com/2011/06/display-facebook-photos-to-your-website.html') Example of gallery from facebook, but written in php.
    br
    a(href='https://embedsocial.com/embed-gallery.php') Excelent example of fb gallery
        b PAID
    br
    a(href='https://github.com/dejanstojanovic/Facebook-Album-Browser') Nice implementation of facebook gallery. Seems ok.

    link(rel='stylesheet', type='text/css', href='/stylesheets/facebook-album-browser/jquery.fb.albumbrowser.css')
    script(type='text/javascript' src='/javascripts/facebook-album-browser/jquery.fb.albumbrowser.js')
    script(type='text/javascript' src='/javascripts/pictures-init.js')

    .jumbotron
        h1 Add appropriate images for the buttons
        h5 Back, previous, next etc...
        h5 See project's git for info
        h5: a(href='http://www.jqueryscript.net/social-media/An-Instagram-API-Plugin-For-jQuery-Bootstrap-Pongstagr-am.html') Add instagram photos
        h5: a(href='http://lab.adrianquevedo.com/jquery-spectragram/') Another implementation of instagram gallery. Ability to show results from hashtag.

    .fb-album-container