extends ../base

block vars
    - var title = 'Blog posts'
    - var post = 'active'

block content
    script(src="javascripts/jQuery.succinct.min.js")
    script(src='javascripts/all-posts-init.js')
    each post in blogPosts
        div.blog-item
            a(href='posts/' + post.id)
                h1=  post.title
                div.truncate
                    !=post.content
                em #{post.relativeDate}
        hr