extends ../base

block vars
    - var title = 'Blog posts'
    - var post = 'active'

block content
    script(src="javascripts/jQuery.succinct.min.js")
    script(src='javascripts/all-posts-init.js')
    each post in blogPosts
        div.blog-item
            .btn-group.edit-buttons.btn-group-right.navbar-right
                button#remove-button.btn.btn-danger(data-id=post.id)
                    span.glyphicon.glyphicon-remove
            a(href='posts/' + post.id)
                h1=  post.title
                .image-container
                    img.title-picture(src='#{post.titlePicture}')
                div.truncate
                    !=post.content
                br
                em #{post.relativeDate}
            if post.updatedPost
                br
                em Updated #{post.relativeUpdatedDate}
                hr
