extends ../base

block vars
    - var title = 'Blog posts'
    - var post = 'active'

block content
    script(src="/javascripts/jQuery.succinct.min.js")
    script(src='/bower_components/moment/min/moment-with-locales.js')
    script(src='/javascripts/all-posts-init.js')

    include ./includes/pager.jade

    each post in blogPosts
        div.blog-item
            if user.login && user.role === 'admin'
                .btn-group.edit-buttons.btn-group-right.navbar-right
                    button#remove-button.btn.btn-danger(data-id=post.id)
                        span.glyphicon.glyphicon-remove
            a(href='/posts/single/' + post.id)
                h1=  post.title
                .image-container
                    img.title-picture(src='#{post.titlePicture}')
                div.truncate
                    !=post.content
                br
                em Added&nbsp;
                    span.relative-date on #{post.addedOn}
            if post.updatedPost
                br
                em Updated&nbsp;
                    span.relative-date #{post.updatedOn}
                hr

    include ./includes/pager.jade
